<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidstudy">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.example.baselibrary.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidStudy"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".any.coroutines.flowpractice.activity.FlowPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".any.coroutines.CoroutineExceptionHandlerActivity"
            android:exported="false" />
        <activity
            android:name=".any.coroutines.CoroutinesTestActivity2"
            android:exported="false" />
        <activity
            android:name=".any.imagepicker.ImagePickerTestActivity"
            android:exported="false" />
        <activity
            android:name=".any.smartrefresh.SmartRefreshLayoutTestActivity"
            android:exported="false" />
        <activity
            android:name=".any.tablayout.TabLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".any.coroutines.CoroutinesTestActivity"
            android:exported="false" />
        <activity
            android:name=".any.loadclass.LoadClassTestActivity"
            android:exported="false" />
        <activity
            android:name=".any.reparent.ReparentActivity"
            android:allowTaskReparenting="true"
            android:exported="true"
            android:taskAffinity="com.firstline3.taskaffinitytest" />
        <activity
            android:name=".any.rxjava.RxjavaTestActivity"
            android:exported="false" />
        <activity
            android:name=".any.rxffmpegtest.RxFFmpegActivity"
            android:exported="false" />
        <activity
            android:name=".hencoderplus.chapter34.HenCoderPlus34Activity"
            android:exported="true" />
        <activity
            android:name=".hencoderplus.chapter20.HenCoderPlus20Activity"
            android:exported="true" />
        <activity
            android:name=".hencoderplus.chapter19.HenCoderPlus19Activity"
            android:exported="true" />
        <activity
            android:name=".hencoderplus.chapter17.HenCoderPlus17Activity"
            android:exported="true" />
        <activity
            android:name=".hencoderplus.chapter13.HenCoderPlusChapter13Activity"
            android:exported="true" />
        <activity
            android:name=".hencoderplus.chapter12.HenCoderPlusChapter12Activity"
            android:exported="true" />
        <activity
            android:name=".hencoderplus.chapter11.HenCoderPlusChapter11Activity"
            android:exported="true" />
        <activity
            android:name=".hencoderplus.HenCoderPlusActivity"
            android:exported="true" />
        <activity
            android:name=".any.recyclerview.RecyclerviewActivity"
            android:exported="true" />
        <activity android:name=".any.contentprovider.ContentProviderTestActivity" />

        <provider
            android:name=".any.contentprovider.MyContentProvider"
            android:authorities="com.example.androidstudy.provider"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".any.db.SqlLiteDBActivity" />
        <activity android:name=".hencoder.HenCoderTestActivity" />
        <activity android:name=".hencoder.HenCoderActivity" />
        <activity android:name=".any.customview.CustomViewActivity" />
        <activity android:name=".any.nestedscroll.NestedScrollActivity" />
        <activity android:name=".any.coordinatorlayout.CoordinatorLayoutTestActivity" />
        <activity android:name=".any.addressphoto.activity.PhotoActivity" />
        <activity android:name=".any.fonttest.FontTestActivity" />
        <activity android:name=".any.addressphoto.activity.AddressPhotoActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>